body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  border-radius: 2px;
  min-width: 850px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(245, 245, 255, 1);
}

.nav-wrapper {
  width: 1020px;
}

.header-image {
  height: auto;
  margin: 3px 7px 3px 0;
  width: 40px;
  float: left;
  border-radius: 25px;
  border: 2px solid white;
}

.header-title {
  float: left;
  text-align: center;
  vertical-align: center;
  line-height: 50px;
}

.header {
  height: 50px;
  width: 730px;
  background-color: rgba(200, 210, 255, .8);
  float: left;
}

.reddit-title {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  line-height: 50px;
  margin-left: 2%;
  cursor: pointer;
  text-decoration: underline;
}

.user-reddits {
  width: 15%;
  display: inline-block;
  float: left;
  background-color: rgba(200, 210, 255, .8);
  height: 50px;
  min-width: 30px;
  line-height: 50px;
  overflow: hidden;
  text-align: center;
  text-decoration: underline;
}

.user-reddit-header {
  cursor: pointer;
}

.user-reddit-titles {
  width: 150px;
  display: inline-block;
  float: left;
  background-color: rgba(240, 240, 240, .7);
  border: 1px solid rgba(200, 200, 200, .6);
  height: 50px;
  min-width: 30px;
  line-height: 50px;
  overflow: hidden;
  text-align: center;
  clear: left;
  cursor: pointer;
}

.filter-container {
  position: absolute;
  top: 55px;
  left: 600px;
  text-align: center;
  margin: 10px 0 0 0;
  line-height: 50px;
  height: 30px;
  width: 282px;
}

.filter-input {
  height: 30px;
  line-height: 50px;
  vertical-align: center;
  float: left;
  width: 62%;
  margin-top: 3px;
}

.filter-button {
  height: 40px;
  line-height: 40px;
  vertical-align: center;
  float: right;
  width: 32%;
  border-radius: 5px;
  color: rgba(245, 245, 245, 1);
  background-color: rgba(40, 50, 255, .9);
  cursor: pointer;
}

.current-page-title {
  position: absolute;
  top: 60px;
  left: 300px;
  height: 50px;
  line-height: 50px;
  vertical-align: center;
  text-align: center;
  width: 300px;
  min-width: 150px;
}

.link-wrapper {
  position: absolute;
  top: 120px;
  left: 180px;
}

.reddit-link-wrapper {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid rgba(100, 100, 100, .8);
  height: 100px;
  width: 600px;
  min-width: 700px;
  background-color: white;
  cursor: pointer;
}

.link-votes {
  min-width: 70px;
  margin-right: 5px;
  float: left;
  width: 10%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  color: rgba(100, 100, 100, .8);
}

.thumbnail {
  height: 90px;
  margin: 5px 10px 5px -10px;
  width: 90px;
  float: left;
}

.link-title {
  height: 65px;
  line-height: 20px;
  text-align: left;
  vertical-align: bottom;
  text-overflow: wrap;
  margin-left: 15px;
  color: blue;
}

.link-post-info {
  height: 30px;
  font-size: 12px;
  margin: 13px 0 0 0px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  text-overflow: wrap;
  color: rgba(100, 100, 100, .8);
}

.add-input {
  height: 25px;
  text-align: center;
  letter-spacing: .75px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.add-button {
  height: 25px;
  line-height: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  color: rgba(245, 245, 245, 1);
  background-color: rgba(40, 50, 255, .9);
}

.add-button:hover {
  background-color: rgba(20, 25, 180, .9); 
}

.add {
  height: 80px;
}

.remove {
  color: white;
  float: right;
  letter-spacing: -.75px;
  height: 85%;
  margin-top: 1%;
  width: 25%;
  background-color: red;
  border: solid 2px black;
  border-radius: 2px;
  font-size: 10px;
}

.name {
  float: left;
  letter-spacing: -1px;
  text-align: left;
  margin-left: 5px;
  width: 60%;
  color: black;
  height: 100%;
  text-overflow: clip;
}